
:root {
  --pageBgC: #023e7d;
  --pageToLinearC: #002855;
  --epContainerBgC: #001233;
  --epContainerBorder: #002855;
  --epContainerHover : #002855;
  --epHeaderBorder: #0077b6;
  --gridGap: 15px 10px;
  --font: "Candara";
  --fontWeight: 500;
  --lineHeight: 25px;
}

*{
  margin: 0;
  padding: 0;
  font-family: var(--font);
  box-sizing: border-box;
}

body {
  /* height: 100%; */
  margin: 0 10px;
  background: linear-gradient(to right, var(--pageBgC), var(--pageToLinearC));
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: white;
}

.epSearch, select {
  padding: 10px;
  margin: 10px 5px;
  border: 2px solid var(--epHeaderBorder);
  width: 20vw;
}

#root {
  text-align: center;
  display: grid;
  grid-template-areas: 1fr;
  gap: 20px;
  justify-items: center;
  font-weight: var(--fontWeight);
  line-height: var(--lineHeight);
  margin-bottom: 30px;
  padding-bottom: 100px;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

#footerTvMazeLink {
  color: var(--epContainerBgC);
}

#footerTvMazeLink:hover {
  font-weight: 600;
}

.epContainer {
  border: 2px solid var(--epContainerBorder);
  border-radius: 5px;
  background-color: var(--epContainerBgC);
  padding: 10px;
  color: white;
}

.epContainer:hover {
  background-color: var(--epContainerHover);
  color: white;
}

.epLink {
  text-decoration: none;
  color: #000;
  display: block;
}

.epHeader {
  /* border: 2px solid var(--epHeaderBorder);
  border-radius: 5px; */
  padding: 15px 10px;
}

.epImage {
  padding: 15px;
}

footer{
  position: inherit;
  padding: 36px;
  text-align: center;
  background-color: black;
  color: white;
}

@media screen and (min-width: 750px) {
  #root {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gridGap);
  }
  .epContainer {
    width: 40vw;
    margin: 10px;
    padding: 10px;
    justify-items: center;
  }
}

@media screen and (min-width: 1200px) {
   #root {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--gridGap);
  }
  .epContainer {
    width: 23vw;
  }
}
